// Google Fontsのインポート
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display:wght@400;500&display=swap');

// フォントファミリーの定義
$font-family-ja: "Noto Sans JP", serif;
$font-family-ja-serif: "Noto Serif JP", serif;
$font-family-en: "Jost", serif;
$font-family-heading: "Noto Sans JP", serif;
$font-family-heading-en: "Momo Trust Display", serif;

// フォントサイズ
$fz-base: 16;

// 色
$base: #001738;
$sub: #FE6386;
$heading-en: #FFE8E9;
$alert: #FE667C;
$highlight: #FFE541;
$bg-base: #fff;
$bg-cta: transparent;
$bg-campaign: #EBD6B4;
$bg-recommend: #FDF7F2;
$bg-example: #F5F6FB;
$bg-plan: #FDF7F2;
$bg-reviews: #FFD3C8;
$bg-contact-heading: #E3556A;
$bg-contact: #FFCFD2;
$bg-plan-option-term: linear-gradient(135deg, #FE6386 0%, #F8937A 100%);
$bg-footer: linear-gradient(to bottom, #FE6386 0%, #F8937A 100%);
$white: #fff;
$primary: #FE6386;
$border: #f6f5ec;
$LINE: #71D077;
$required: #D82020;

// コンテンツサイズ
$wd-content-max-pc: calc(390 / $fz-base * 1rem);
$wd-content-padding-sp: 20;