// Google Fontsのインポート
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;700;800&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789%26%C2%A9&display=swap');


// フォントファミリーの定義
$font-family-ja: "Shippori Mincho", "Shippori Mincho B1", "Hiragino Mincho ProN", "Yu Mincho", "YuMincho", "HG明朝E", "MS P明朝", "MS PMincho", serif;
$font-family-en: "Cormorant Garamond", serif;
$font-family-heading: "Shippori Mincho", "Shippori Mincho B1", "Hiragino Mincho ProN", "Yu Mincho", "YuMincho", "HG明朝E", "MS P明朝", "MS PMincho", serif;

// フォントサイズ
$fz-base: 16;

// 色
$fc-base: #2c2c2c;
$fc-sub: #4e4e4e;
$fc-white: #fff;
$bg-base: #fff;
$bg-secondary: linear-gradient(to right, #fbfbfb 0%, #f3f3f3 100%);
$primary: #af9b4f;
$white: #fff;
$LINE: #71D077;

// viewport height
$viewport-width-sp: 390;
$viewport-height-sp: 843;
$viewport-width: 1920;
$viewport-height: 1080;

// コンテンツサイズ
$wd-content-max-pc: calc(720 / $fz-base * 1rem);
$wd-content-padding-sp: 21;
