node_modules/
dist/
.next/
.out/
.cache/
coverage/
.env
.env.local
*.log
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
*.zip
*/.project
*/.serena
*/.vscode
*/.docs
*/.backup
*/.github
message/messages/config/smtp.config.php

# E2E tests
e2e-tests

# Large video files
**/*.mp4
