@use '../../global/variables' as *;

.c-opening {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  background-color: #fff;
  transition: opacity 1s ease;

  .c-opening__logo {
    max-width: calc(162 / $fz-base * 1rem);
    height: auto;
    opacity: 0;
  }

  .c-opening__text {
    margin-top: calc(37 / $fz-base * 1rem);
    font-family: $font-family-ja;
    font-weight: 400;
    font-size: calc(14 / $fz-base * 1rem);
    line-height: calc(25 / 14);
    letter-spacing: calc(200 / 1000 * 1rem);
    text-align: center;
    opacity: 0;
  }
}