<div class="p-campaign__description js-fadeIn">
  <div class="p-campaign__descriptionContainer">
    <dl class="p-campaign__descriptionList">
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">概要</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            <span class="p-campaign__descriptionHighlight">抽選5名様</span><br>
            ライトプランの制作費が0円に！
          </p>
          <p class="p-campaign__descriptionText">
            落選の方にも<span class="p-campaign__descriptionHighlight">全員20％OFFクーポン</span><br>
            をプレゼント！※有効期限有り
          </p>
        </dd>
      </div>
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">応募条件</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            簡単アンケート<br>
            WEBサイトに事例として掲載（匿名可）
          </p>
        </dd>
      </div>
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">応募締切</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            2025年9月30日
          </p>
        </dd>
      </div>
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">抽選結果</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            締切日より2週間以内に<br>
            LINEで直接ご連絡いたします。
          </p>
        </dd>
      </div>
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">応募方法</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            Knotoryの公式LINEを友だち追加<br>
            トークで「モニターに応募」と送るだけ
          </p>
        </dd>
      </div>
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">注意事項</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            応募はお一人様1回／権利の譲渡・換金不可<br>
            素材（写真・お名前・挨拶文など）の提出が必要<br>
            連絡不通・期日までに素材未提出の場合は無効<br>
            応募には利用規約・プライバシーへの同意が必要
          </p>
        </dd>
      </div>
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">無料範囲</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            ライトプラン（1ページ制作）<br>
            ※オプションは別途費用が発生<br>
            （3ビュー見せ分け／パンフ／動画制作等）
          </p>
        </dd>
      </div>
      <div class="p-campaign__descriptionItem">
        <dt class="p-campaign__descriptionTitle">備考</dt>
        <dd class="p-campaign__descriptionDetail">
          <p class="p-campaign__descriptionText">
            制作したページは1年間無料で<br>
            ご利用いただけます。<br>
            2年目以降は年間3,300円の管理費が発生します。
          </p>
        </dd>
      </div>
    </dl>
  </div>
</div>