<footer class="l-footer">
  <div class="l-footer__container js-fadeIn">
    <!-- logo -->
    <div class="l-footer__logo">
      <p class="l-footer__copy">Webで届ける、あたらしい結婚のカタチ</p>
      <figure class="l-footer__logoImage">
        <img src="/assets/images/logo.png" alt="Knotory ノトリ">
      </figure>
    </div>
    <p class="l-footer__text">
      こちらのページは、Knotory が<br class="u-onlySp">作成しています。<br>
      結婚のご報告を「あなたらしく」<br>
      丁寧に報告されたい方にぴったりのサービスです。
    </p>
    <!--<div class="l-footer__btnWrapper">
      {{> ui/button text="Knotoryをもっと詳しく"}}
    </div>-->
    {{> ui/buttonLine }}
    <p class="l-footer__text">&copy; Knotory</p>
  </div>

</footer>