@use '../../global/variables' as *;
@use '../../global/mixin' as *;

.c-heading2 {
  text-align: center;

  &__mainText {
    font-family: $font-family-heading;
    font-size: calc(20 / $fz-base * 1rem);
    font-weight: 800;
    color: $fc-heading;
    line-height: calc(24 / 20);
    letter-spacing: calc(25 / 1000 * 1rem);
    
    @include mq(tab) {
      font-size: calc(25 / $fz-base * 1rem);
      line-height: calc(30 / 25);
    }
  }

  &__subText {
    font-family: $font-family-en;
    font-size: calc(14 / $fz-base * 1rem);
    font-weight: 700;
    color: $fc-secondary;
    line-height: calc(18 / 14);
    letter-spacing: calc(200 / 1000 * 1rem);
    margin-top: calc(14 / $fz-base * 1rem);

    @include mq(tab) {
      font-size: calc(16 / $fz-base * 1rem);
      line-height: calc(19 / 16);
    }
  }
}

.js {
  & .c-heading2.js-fadeIn {
    opacity: 0;
  }
}