@use '../../global/variables' as *;
@use '../../global/mixin' as *;

.p-fv {
  position: relative;
  background: url('/assets/images/bg-fv.png') no-repeat center top;
  overflow: hidden;
}

.p-fv__heading {
  text-align: center;
  position: relative;
}

.p-fv__headingLabel {
  display: block;
  font-size: calc(13 / $fz-base * 1rem);
  font-weight: 800;
  color: $base;
  font-family: $font-family-ja;
  line-height: calc(20 / 14);
  letter-spacing: calc(50 / 1000 * 1rem);
  border-radius: calc(50 / $fz-base * 1rem);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  max-width: calc(272 / $fz-base * 1rem);
  margin: calc(20 / $fz-base * 1rem) auto 0;
  padding: calc(5 / $fz-base * 1rem) calc(15 / $fz-base * 1rem);
}

.p-fv__headingTitle {
  display: block;
  font-size: calc(28 / $fz-base * 1rem);
  font-weight: 900;
  background: linear-gradient(to bottom, #FE6386, #FF7678);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: $font-family-ja;
  line-height: 1.5;
  margin-top: calc(4.5 / $fz-base * 1rem);
  margin-bottom: calc(8 / $fz-base * 1rem);
}

.p-fv__headingSubtitle {
  position: absolute;
  bottom: calc(-48 / $fz-base * 1rem);
  display: block;
  font-size: calc(48 / $fz-base * 1rem);
  font-weight: 400;
  line-height: calc(68 / 48);
  color: $text-heading-en;
  font-family: $font-family-heading-en;
  z-index: 10;
}

.p-fv__imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: calc(12.9 / $fz-base * 1rem);
  margin-bottom: calc(10 / $fz-base * 1rem);
}

.p-fv__figure {
  position: relative;
  z-index: 1;
}

.p-fv__image {
  width: 100%;
  max-width: calc(290 / $fz-base * 1rem);
  height: auto;
  display: block;
  filter: drop-shadow(0 0 calc(15 / $fz-base * 1rem) rgba(0, 0, 0, 0.08));
}

.p-fv__textArea {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: left;
  padding-left: calc(20 / $fz-base * 1rem);
  padding-right: calc(56 / $fz-base * 1rem);
  padding-bottom: calc(18 / $fz-base * 1rem);
}

.p-fv__logo {
  width: 100%;
  max-width: calc(104.88 / $fz-base * 1rem);
  height: auto;
  display: block;
  margin-left: auto;
  margin-bottom: calc(16 / $fz-base * 1rem);
}

.p-fv__description {
  font-size: calc(14 / $fz-base * 1rem);
  font-weight: 500;
  color: $base;
  font-family: $font-family-ja;
  line-height: 1.7;
  letter-spacing: 0.05em;
  text-align: right;
}

.p-fv__features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(5 / $fz-base * 1rem);
  padding: 0 calc(31 / $fz-base * 1rem);
}

.p-fv__feature {
  list-style: none;
}

.p-fv__featureCircle {
  position: relative;
  width: calc(106 / $fz-base * 1rem);
  height: calc(106 / $fz-base * 1rem);
  border-radius: 50%;
  color: $white;
  background: linear-gradient(to bottom, #FE6386 0%, #F8937A 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(10 / $fz-base * 1rem);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

  &::before {
    content: '';
    position: absolute;
    bottom: calc(10.1 / $fz-base * 1rem);
    width: calc(114.36 / $fz-base * 1rem);
    height: calc(52.94 / $fz-base * 1rem);
    background-image: url('/assets/images/decoration-fv-features.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

.p-fv__featureText {
  position: relative;
  z-index: 2;
  font-size: calc(14 / $fz-base * 1rem);
  font-weight: 500;
  letter-spacing: calc(25 / 1000 * 1rem);
  line-height: calc(20 / 14);
  color: $white;
  font-family: $font-family-ja;
  text-align: center;
}

.p-fv__ctaArea {
  margin-top: calc(12 / $fz-base * 1rem);
  padding-bottom: calc(99 / $fz-base * 1rem);
}
