<section class="p-campaign js-fadeIn">
  <div class="p-campaign__deadline">
    <dl class="p-campaign__deadlineList">
      <dt class="p-campaign__deadlineTitle">申込期限</dt>
      <dd class="p-campaign__deadlineContent">
        <span class="p-campaign__deadlineDate">9/30</span>
        まで
      </dd>
    </dl>
  </div>
  <div class="p-campaign__inner">
    <h2 class="p-campaign__title">無料モニターキャンペーン実施中！</h2>
    <div class="p-campaign__container">
      <p class="p-campaign__text">
        通常価格<span class="p-campaign__textPrice">29,800円</span>
      </p>
      <figure class="p-campaign__arrow" aria-hidden="true">
        <img src="/assets/images/icon-md-arrow-dropright.svg" alt="" width="6.35" height="12.7">
      </figure>
      <p class="p-campaign__text--highlight">
        <span class="p-campaign__highlightText">今なら制作費が</span>
        <span class="p-campaign__highlightLabel">特別価格</span>
        <span class="p-campaign__highlightPrice">0<span class="p-campaign__highlightPriceUnit">円</span></span>
      </p>
    </div>
  </div>

  {{> ui/campaignDescription }}
</section>