<section class="p-example">
  <div class="p-example__container">
    <h2 class="p-example__heading">デザインテンプレート例</h2>

    <article class="p-example__item" style="--bg-example-color: #D4BE6C;">
      <hgroup class="p-example__itemHeader">
        <p class="p-example__itemCategory">デザイン</p>
        <h1 class="p-example__itemTitle">和モダン</h1>
      </hgroup>

      <div class="p-example__itemContent">
        <figure class="p-example__itemFigure">
          <img class="p-example__itemImage" src="/assets/images/screenshot-example-design-01.png" alt="">
        </figure>
      </div>
    </article>

    <article class="p-example__item" style="--bg-example-color: #74A6BE;">
      <hgroup class="p-example__itemHeader">
        <p class="p-example__itemCategory">デザイン</p>
        <h1 class="p-example__itemTitle">北欧ナチュラル</h1>
      </hgroup>

      <div class="p-example__itemContent">
        <figure class="p-example__itemFigure">
          <img class="p-example__itemImage" src="/assets/images/screenshot-example-design-02.png" alt="">
        </figure>
      </div>
    </article>

    <article class="p-example__item" style="--bg-example-color: #DDB1BA;">
      <hgroup class="p-example__itemHeader">
        <p class="p-example__itemCategory">デザイン</p>
        <h1 class="p-example__itemTitle">ロマンティックガーリー</h1>
      </hgroup>

      <div class="p-example__itemContent">
        <figure class="p-example__itemFigure">
          <img class="p-example__itemImage" src="/assets/images/screenshot-example-design-03.png" alt="">
        </figure>
      </div>
    </article>

    <section class="p-example__designSection">
      <h3 class="p-example__designHeading js-fadeIn">
        他にも多数のデザインから<br>
        お選びいただけます！
      </h3>

      <div class="splide splideExample p-example__designList js-fadeIn">
        <div class="splide__track p-example__designTrack">
          <ul class="splide__list p-example__designItems">
            <li class="splide__slide p-example__designItem">
              <figure class="p-example__designFigure">
                <img class="p-example__designImage" src="/assets/images/figure-example-01.png" alt="">
              </figure>
            </li>
            <li class="splide__slide p-example__designItem">
              <figure class="p-example__designFigure">
                <img class="p-example__designImage" src="/assets/images/figure-example-02.png" alt="">
              </figure>
            </li>
            <li class="splide__slide p-example__designItem">
              <figure class="p-example__designFigure">
                <img class="p-example__designImage" src="/assets/images/figure-example-03.png" alt="">
              </figure>
            </li>
            <li class="splide__slide p-example__designItem">
              <figure class="p-example__designFigure">
                <img class="p-example__designImage" src="/assets/images/figure-example-04.png" alt="">
              </figure>
            </li>
            <li class="splide__slide p-example__designItem">
              <figure class="p-example__designFigure">
                <img class="p-example__designImage" src="/assets/images/figure-example-05.png" alt="">
              </figure>
            </li>
            <li class="splide__slide p-example__designItem">
              <figure class="p-example__designFigure">
                <img class="p-example__designImage" src="/assets/images/figure-example-06.png" alt="">
              </figure>
            </li>
            <li class="splide__slide p-example__designItem">
              <figure class="p-example__designFigure">
                <img class="p-example__designImage" src="/assets/images/figure-example-07.png" alt="">
              </figure>
            </li>
          </ul>
        </div>
      </div>

      <div class="p-example__designLinkWrap js-fadeIn">
        <a class="p-example__designLink" href="">デザイン一覧はこちら</a>
      </div>

      <div class="p-example__contentInfo js-fadeIn">
        <dl class="p-example__contentInfoList">
          <dt class="p-example__contentInfoTerm">掲載内容</dt>
          <dd class="p-example__contentInfoDescription">
            <ul class="p-example__contentInfoItems">
              <li class="p-example__contentInfoItem">ごあいさつ</li>
              <li class="p-example__contentInfoItem">おふたりのプロフィール</li>
              <li class="p-example__contentInfoItem">ヒストリー（誕生～結婚）</li>
              <li class="p-example__contentInfoItem">おふたりに質問</li>
              <li class="p-example__contentInfoItem">写真ギャラリー</li>
              <li class="p-example__contentInfoItem">動画（任意）</li>
              <li class="p-example__contentInfoItem">感謝のメッセージ（御礼・近況）</li>
            </ul>
          </dd>
        </dl>
      </div>
    </section>
      
    <section class="p-example__brochureSection">
      <h3 class="p-example__brochureHeading js-fadeIn">パンフレットも制作できます！</h3>

      <div class="p-example__brochureContent js-fadeIn">
        <figure class="p-example__brochureFigure">
          <img class="p-example__brochureImage" src="/assets/images/figure-example-brochure.png" alt="">
        </figure>

        <div class="p-example__brochureText js-fadeIn">
          <p class="p-example__brochureDescription">
            大きな文字と見やすいレイアウトだから、普段<br>
            Webサイトを見ない<span class="p-example__brochureText--accent">ご高齢の方にも読みやすい</span><br>
            内容となっております。完成後は<br>
            <span class="p-example__brochureText--accent">送料無料</span>でご自宅まで郵送いたします。<br>
            （A4サイズ / 4P /最大10部）
          </p>
          <p class="p-example__brochureNote">
            下記リンク先から<span class="p-example__brochureNote--accent">パンフレット</span>と<span class="p-example__brochureNote--accent">動画</span>の<br>
            デザインが見れます！
          </p>

          <div class="p-example__brochureLinkWrap js-fadeIn">
            <a class="p-example__brochureLink" href="">デザイン一覧はこちら</a>
          </div>
        </div>
      </div>
    </section>

  </div>
</section>