<section class="p-flow">
  <div class="p-flow__container">
    <h2 class="p-flow__title js-fadeIn">ご利用の流れ</h2>
    <div class="p-flow__stepList">

      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">01</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-01.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">無料相談・お申込み</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              相談だけでもOK！公式LINEまたは下部メール<br>
              フォームよりお申し込みください。<br>
              (申し込み完了後、自動返信メールが届きます)
            </p>
          </div>
        </div>
      </section>
      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">02</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-02.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">ヒアリング・素材のご提出</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              Webサイトのデザインをお選びいただき、おふた<br>
              りのプロフィール、写真など、掲載する素材を<br>
              メールまたはLINEでお送りいただきます。また、<br>
              ご希望であれば当サービス側で文章を作成する<br>
              ことも可能です。
            </p>
          </div>
        </div>
      </section>
      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">03</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-03.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">Webサイトの制作開始</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              ご提出いただいた内容をもとに、心を込めて制作<br>
              を開始いたします。<br>
              （初稿5～7日営業日）<br>
            </p>
            <p class="p-flow__stepText p-flow__stepText--note">
              ※お急ぎの場合も柔軟にご対応可能です<br>
              ※制作する内容によって前後します
            </p>
          </div>
        </div>
      </section>
      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">04</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-04.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">ご確認・最終調整</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              完成したサイトを一度ご確認いただき、ご希望が<br>
              あれば微調整も承ります。<br>
              スタンダードプランでは、内容のカスタマイズ<br>
              にも柔軟に対応いたします。<br>
              ご納得いただけましたら、公開URLをお送りしま<br>
              す。※修正回数には限りがございます
            </p>
          </div>
        </div>
      </section>
      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">05</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-05.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">完成＆ご報告</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              完成したWebサイトは、LINEやメールでURLを<br>
              送るだけで、ご報告ができます。<br>
              パンフレットも一緒にお届けできるので、ご親戚<br>
              やご年配の方へのご挨拶にも最適です。
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>