<footer class="l-footer">
  <div class="l-footer__container js-fadeIn">
    <!-- logo -->
    <div class="l-footer__logo">
      <figure class="l-footer__logoImage">
        <img src="/assets/images/logo.png" alt="Knotory ノトリ">
      </figure>
    </div>
    <div class="l-footer__navWrapper">
      <nav class="l-footer__nav">
        <ul class="l-footer__navList">
          <li class="l-footer__navItem"><a class="l-footer__navLink" href="#">利用規約</a></li>
          <li class="l-footer__navItem"><a class="l-footer__navLink" href="#">プライバシーポリシー</a></li>
        </ul>
      </nav>
    </div>
    <p class="l-footer__text">&copy; Knotory</p>
  </div>

</footer>