<div class="p-fv">
  <p class="p-fv__notice js-fadeIn">抽選5名様　無料アンケートモニター募集中！9月30日まで</p>

  <div class="p-fv__container js-fadeIn">
    <p class="p-fv__text">伝えたい想いと思い出を、<span class="p-fv__textHighlight">特別な1ページ</span>に</p>
  
    <div class="p-fv__slideArea">
      <!-- 
        デザインテンプレートのカルーセルスライダー
        liタグ内を複製して、画像を差し替えてください
      -->
      <div class="p-fv__slider">
        <!-- スマートフォンフレーム（フェードしない固定要素） -->
        <div class="p-fv__sliderFrame"></div>
        
        <div class="p-fv__sliderTrack">
          <ul class="p-fv__sliderList">
            <li class="p-fv__sliderSlide">
              <figure class="p-fv__sliderFigure">
                <img class="p-fv__sliderImage" src="/assets/images/screenshot-design-01.png" alt="" width="265" height="550" loading="eager">
              </figure>
            </li>
            <li class="p-fv__sliderSlide">
              <figure class="p-fv__sliderFigure">
                <img class="p-fv__sliderImage" src="/assets/images/screenshot-design-02.png" alt="" width="265" height="550" loading="eager">
              </figure>
            </li>
            <li class="p-fv__sliderSlide">
              <figure class="p-fv__sliderFigure">
                <img class="p-fv__sliderImage" src="/assets/images/screenshot-design-04.png" alt="" width="265" height="550" loading="eager">
              </figure>
            </li>
            <li class="p-fv__sliderSlide">
              <figure class="p-fv__sliderFigure">
                <img class="p-fv__sliderImage" src="/assets/images/screenshot-design-06.png" alt="" width="265" height="550" loading="eager">
              </figure>
            </li>
          </ul>
        </div>
      </div>
  
      <hgroup class="p-fv__header">
        <p class="p-fv__subtitle">Webで届ける、ふたりの新しい結婚報告</p>
        <h1 class="p-fv__title">
          <img class="p-fv__logo" src="/assets/images/logo-with-kana.png" alt="Knotory -ノトリ-">
        </h1>
        <p class="p-fv__price">
          <span class="p-fv__priceNumber">29,800</span><span class="p-fv__priceUnit">円</span><span class="p-fv__priceTax">(税込)〜</span>でつくれる！
        </p>
      </hgroup>
    
      <ul class="p-fv__features">
        <li class="p-fv__feature">
          <div class="p-fv__featureContent">
            <figure class="p-fv__featureImage"><img src="/assets/images/icon-fv-feature-01.png" alt=""></figure>
            <div class="p-fv__featureText">
              <p class="p-fv__featureDescription">
                <span class="p-fv__featureHighlight">パスワード付</span><br />
                で安心
              </p>
            </div>
          </div>
        </li>
        <li class="p-fv__feature">
          <div class="p-fv__featureContent">
            <figure class="p-fv__featureImage"><img src="/assets/images/icon-fv-feature-02.png" alt=""></figure>
            <div class="p-fv__featureText">
              <p class="p-fv__featureDescription">
                <span class="p-fv__featureHighlight">最短3日</span><br />
                で公開
              </p>
            </div>
          </div>
        </li>
        <li class="p-fv__feature">
          <div class="p-fv__featureContent">
            <figure class="p-fv__featureImage"><img src="/assets/images/icon-fv-feature-03.png" alt=""></figure>
            <div class="p-fv__featureText">
              <p class="p-fv__featureDescription">
                <span class="p-fv__featureHighlight">プロに全部</span><br />
                丸投げ
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="p-fv__ctaArea">
    {{> ui/buttonCTA }}
  </div>
</div>