<section class="p-plan">
  <div class="p-plan__container">
    <h2 class="p-plan__heading js-fadeIn">料金プラン</h2>

    <div class="p-plan__tableWrap js-fadeIn">
      <p class="p-plan__tableRecommend">おすすめ！</p>
      <table class="p-plan__table">
        <thead class="p-plan__tableHead">
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell"></th>
            <th class="p-plan__tableHeaderCell p-plan__tableHeaderCell--standard">スタンダード</th>
            <th class="p-plan__tableHeaderCell p-plan__tableHeaderCell--light">ライト</th>
          </tr>
        </thead>
        <tbody class="p-plan__tableBody">
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell">金額</th>
            <td class="p-plan__tableDataCell p-plan__tableDataCell--price">49,800<span class="p-plan__priceUnit">円</span><span class="p-plan__priceTax">（税込）</span></td>
            <td class="p-plan__tableDataCell p-plan__tableDataCell--price">29,800<span class="p-plan__priceUnit">円</span><span class="p-plan__priceTax">（税込）</span></td>
          </tr>
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell">
              選べる<br>
              デザイン
            </th>
            <td class="p-plan__tableDataCell">全種</td>
            <td class="p-plan__tableDataCell">全種</td>
          </tr>
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell">
              パスワード<br>
              機能
            </th>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-true.svg" alt="あり" width="20" height="20"></td>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-true.svg" alt="あり" width="20" height="20"></td>
          </tr>
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell">
              写真<br>
              トリミング
            </th>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-true.svg" alt="あり" width="20" height="20"></td>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-true.svg" alt="あり" width="20" height="20"></td>
          </tr>
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell">
              写真<br>
              レタッチ
            </th>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-true.svg" alt="あり" width="20" height="20"></td>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-false.svg" alt="なし" width="20" height="2"></td>
          </tr>
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell">
              動画制作
            </th>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-true.svg" alt="あり" width="20" height="20"></td>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-false.svg" alt="なし" width="20" height="2"></td>
          </tr>
          <tr class="p-plan__tableRow">
            <th class="p-plan__tableHeaderCell">
              内容<br>
              切り替え
            </th>
            <td class="p-plan__tableDataCell">2ビュー</td>
            <td class="p-plan__tableDataCell"><img class="p-plan__tableIcon" src="/assets/images/icon-false.svg" alt="なし" width="20" height="2"></td>
          </tr>
        </tbody>
      </table>

      <div class="p-plan__tableNote js-fadeIn">
        <p class="p-plan__tableNoteText">
          ※動画制作はテンプレートのスライド動画になります。<br>
          ※内容切り替え（例）会社用・友人用など<br>
          ※修正回数は最大3回まで無料で行うことができます。<br>
          但し、大幅な仕様変更については、別途お見積もりをさせてい<br>
          ただく場合がございます。
        </p>
      </div>
    </div>

    <div class="p-plan__optionSection js-fadeIn">
      <dl class="p-plan__optionList">
        <dt class="p-plan__optionTerm">追加オプション</dt>
        <dd class="p-plan__optionDescription">
          <div class="p-plan__optionContent">
            <dl class="p-plan__optionItems">
              <div class="p-plan__optionItem">
                <dt class="p-plan__optionItemTerm">・動画制作（60秒）</dt>
                <dd class="p-plan__optionItemDescription">
                  <span class="p-plan__optionPrice">11,000</span><span class="p-plan__optionPriceUnit">円</span><span class="p-plan__optionPriceTax">（税込）</span>
                </dd>
              </div>
              <div class="p-plan__optionItem">
                <dt class="p-plan__optionItemTerm">・内容切り替え　1ビュー追加</dt>
                <dd class="p-plan__optionItemDescription">
                  <span class="p-plan__optionPrice">11,000</span><span class="p-plan__optionPriceUnit">円</span><span class="p-plan__optionPriceTax">（税込）</span>
                </dd>
              </div>
              <div class="p-plan__optionItem">
                <dt class="p-plan__optionItemTerm">・お祝いメッセージ送信機能</dt>
                <dd class="p-plan__optionItemDescription">
                  <span class="p-plan__optionPrice">5,500</span><span class="p-plan__optionPriceUnit">円</span><span class="p-plan__optionPriceTax">（税込）</span>
                </dd>
              </div>
              <div class="p-plan__optionItem">
                <dt class="p-plan__optionItemTerm">・パンフレット（A4 4P 10枚）</dt>
                <dd class="p-plan__optionItemDescription">
                  <span class="p-plan__optionPrice">24,800</span><span class="p-plan__optionPriceUnit">円</span><span class="p-plan__optionPriceTax">（税込）</span>
                </dd>
              </div>
              <div class="p-plan__optionItem">
                <dt class="p-plan__optionItemTerm">・お急ぎ対応（初稿3営業日）</dt>
                <dd class="p-plan__optionItemDescription">
                  <span class="p-plan__optionPrice">5,500</span><span class="p-plan__optionPriceUnit">円</span><span class="p-plan__optionPriceTax">（税込）</span>
                </dd>
              </div>
            </dl>
            <div class="p-plan__optionNote">
              <p class="p-plan__optionNoteText">
                ※パンフレットは増刷可<br>
                ※詳細はお問い合わせください
              </p>
            </div>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</section>

<section class="p-plan__management">
  <div class="p-plan__container">
    <h2 class="p-plan__heading js-fadeIn">2年目以降もサイトを掲載される方</h2>
    <div class="p-plan__managementContent js-fadeIn">
      <dl class="p-plan__managementList">
        <dt class="p-plan__managementTerm">Webサイトの管理費について</dt>
        <dd class="p-plan__managementDescription">
          <p class="p-plan__managementText">
            制作したWebサイトは、納品から<span class="p-plan__managementText--accent">1年間は無料</span><br>
            で掲載されます。2年目以降も引き続き大切な<br>
            思い出としてWeb上に残しておきたい場合は、<br>
            年間3,300円(税込)の管理費を頂戴しております。
          </p>
          <div class="p-plan__managementDetail js-plan__managementDetail" aria-hidden="true" aria-expanded="false">
            <dl class="p-plan__managementDetailList">
              <dt class="p-plan__managementDetailTerm">2年目以降の管理費</dt>
              <dd class="p-plan__managementDetailDescription">
                <span class="p-plan__managementPrice">275</span><span class="p-plan__managementPriceUnit">円</span><span class="p-plan__managementPriceTax">（税込）</span><span class="p-plan__managementPriceSeparator">/</span><span class="p-plan__managementPricePeriod">月</span>
              </dd>
            </dl>
            <dl class="p-plan__managementDetailList">
              <dt class="p-plan__managementDetailTerm">管理費には以下が含まれています</dt>
              <dd class="p-plan__managementDetailDescription">
                <p class="p-plan__managementDetailText">
                  サーバー／ドメインの維持費用<br>
                  データの安全な保管<br>
                  サイトのセキュリティ対策と保守管理
                </p>
                <figure class="p-plan__managementFigure">
                  <img class="p-plan__managementImage" src="/assets/images/figure-plan-server.png" alt="" width="290" height="90">
                </figure>
              </dd>
            </dl>
            <div class="p-plan__managementDetailNote">
              <p class="p-plan__managementDetailNoteText">
                ご自身で面倒な設定や手続きは一切不要。<br>
                Knotoryが責任を持って丁寧<br>
                に管理・保全いたしますのでご安心ください。
              </p>
            </div>
          </div>
          <button class="p-plan__managementButton js-plan__managementButton" type="button" aria-hidden="false">
            詳細を見る
          </button>
        </dd>
      </dl>
    </div>
  </div>
</section>