<section class="l-section p-recommend">
  <div class="l-container p-recommend__inner">
    <h2 class="p-recommend__heading js-fadeIn">
      結婚式を挙げないという選択にも<br>
      ふたりらしい"<span class="p-recommend__headingAccent p-recommend__headingAccent--kinen">記念</span>"と"<span class="p-recommend__headingAccent p-recommend__headingAccent--katachi">カタチ</span>"を。
    </h2>

    <figure class="p-recommend__mainVisual js-fadeIn" aria-hidden="true">
      <img class="p-recommend__mainVisualImage" src="/assets/images/figure-recommend-illust.png" alt="" width="75" height="153">
    </figure>

    <p class="p-recommend__description js-fadeIn">
      <img class="p-recommend__descriptionLogo" src="/assets/images/logo-with-kana.png" alt="ノトリ">は、そんな想いを<br>
      そっと後押しするサービスです。
    </p>

    <div class="p-recommend__content js-fadeIn">
      <dl class="p-recommend__targetList">
        <dt class="p-recommend__targetListTitle">こんな<span class="p-recommend__targetListTitle--accent">おふたり</span>におすすめ！</dt>
        <dd class="p-recommend__targetListDescription">
          <ul class="p-recommend__targetItems">
            <li class="p-recommend__targetItem">
              <figure class="p-recommend__targetItemFigure">
                <img class="p-recommend__targetItemImage" src="/assets/images/figure-recommend-01.png" alt="">
              </figure>
              <p class="p-recommend__targetItemText">
                LINEで一斉報告<br>
                ではなく親しい人には<br>
                丁寧に伝えたい！
              </p>
            </li>
            <li class="p-recommend__targetItem">
              <figure class="p-recommend__targetItemFigure">
                <img class="p-recommend__targetItemImage" src="/assets/images/figure-recommend-02.png" alt="">
              </figure>
              <p class="p-recommend__targetItemText">
                フォトウエディング<br>
                の写真をもっと<br>
                見てもらいたい！
              </p>
            </li>
            <li class="p-recommend__targetItem">
              <figure class="p-recommend__targetItemFigure">
                <img class="p-recommend__targetItemImage" src="/assets/images/figure-recommend-03.png" alt="">
              </figure>
              <p class="p-recommend__targetItemText">
                再婚なので盛大な式は<br>
                控えたいけど、きちんと<br>
                報告はしたい
              </p>
            </li>
            <li class="p-recommend__targetItem">
              <figure class="p-recommend__targetItemFigure">
                <img class="p-recommend__targetItemImage" src="/assets/images/figure-recommend-04.png" alt="">
              </figure>
              <p class="p-recommend__targetItemText">
                形式ばったものは苦手。<br>
                でも自分たちらしく<br>
                お祝いしたい
              </p>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</section>