<section class="p-reviews">
  <div class="p-reviews__container">
    <h2 class="p-reviews__title js-fadeIn">お客さまの声</h2>

    <div class="splide splideReviews p-reviews__slider js-fadeIn">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <article class="p-reviews__item">
              <div class="p-reviews__itemHeader">
                <figure class="p-reviews__itemFigure">
                  <img src="/assets/images/figure-review-picture-01.png" alt="" class="p-reviews__itemImage">
                </figure>
                <div class="p-reviews__itemInfo">
                  <p class="p-reviews__itemStars"><img src="/assets/images/figure-review-stars.png" alt=""></p>
                  <p class="p-reviews__itemName">Aさんご夫婦（30代）</p>
                  <p class="p-reviews__itemType">式なし・フォト婚のみ</p>
                </div>
              </div>
              <h1 class="p-reviews__itemTitle">
                見てもらった人から<br>
                たくさん反響がありました！
              </h1>
              <div class="p-reviews__itemContent">
                <p class="p-reviews__itemText">
                  結婚式はせず、写真だけのフォト婚を選びました<br>
                  が、「どうやって報告したらいいか」正直すごく<br>
                  悩んでいました。はがきは形式ばっていて気が進<br>
                  まず、LINEで送るのも味気なくて…。<br>
                  Knotoryは、自分たちの写真やエピソードをしっ<br>
                  かり載せられて、見てもらった人から「感動した<br>
                  ！」「ふたりらしくて素敵！」とたくさん反響が<br>
                  ありました。おじいちゃんとおばあちゃんはWeb<br>
                  サイトが見れないけど、パンフレットを届けられた<br>
                  ので、ちゃんとした報告ができたという安心感が<br>
                  あり、本当に頼んでよかったです。
                </p>
              </div>
              <hr class="p-reviews__itemSeparator">
              <div class="p-reviews__itemPlan">
                <p class="p-reviews__itemPlanText">
                  プラン：スタンダード<br>
                  オプション：パンフレット
                </p>
              </div>
            </article>
          </li>
          <li class="splide__slide">
            <article class="p-reviews__item">
              <div class="p-reviews__itemHeader">
                <figure class="p-reviews__itemFigure">
                  <img src="/assets/images/figure-review-picture-02.png" alt="" class="p-reviews__itemImage">
                </figure>
                <div class="p-reviews__itemInfo">
                  <p class="p-reviews__itemStars"><img src="/assets/images/figure-review-stars.png" alt=""></p>
                  <p class="p-reviews__itemName">Kさんご夫婦（20代）</p>
                  <p class="p-reviews__itemType">入籍のみ・式なし</p>
                </div>
              </div>
              <h1 class="p-reviews__itemTitle">
                上司には挨拶中心、友人には写真多め。<br>
                見せ分けがちょうどいい。
              </h1>
              <div class="p-reviews__itemContent">
                <p class="p-reviews__itemText">
                  さすがにSNSで上司や親族に報告するのは気が<br>
                  引けると感じていたところに、Knotoryを知りま<br>
                  した。上司や親族には挨拶中心、友人には写真多<br>
                  めの最大3ビューの見せ分けで、送り先ごとに内容<br>
                  を切替できたのが便利でした。<br>
                  また、Webサイトに載せるのは個人情報が漏洩<br>
                  してしまうんじゃないかと思って心配していまし<br>
                  たが、パスワード付きで、検索にも引っ掛からな<br>
                  いようにしているので安心して利用できました。
                </p>
              </div>
              <hr class="p-reviews__itemSeparator">
              <div class="p-reviews__itemPlan">
                <p class="p-reviews__itemPlanText">
                  プラン：スタンダード<br>
                  オプション：内容切り替え　1ビュー追加
                </p>
              </div>
            </article>
          </li>
          <li class="splide__slide">
            <article class="p-reviews__item">
              <div class="p-reviews__itemHeader">
                <figure class="p-reviews__itemFigure">
                  <img src="/assets/images/figure-review-picture-03.png" alt="" class="p-reviews__itemImage">
                </figure>
                <div class="p-reviews__itemInfo">
                  <p class="p-reviews__itemStars"><img src="/assets/images/figure-review-stars.png" alt=""></p>
                  <p class="p-reviews__itemName">Hさんご夫婦（40代）</p>
                  <p class="p-reviews__itemType">入籍のみ・式なし</p>
                </div>
              </div>
              <h1 class="p-reviews__itemTitle">
                再婚なので結婚式はせず。でも<br>
                "特別"を形に残せて記念になりました
              </h1>
              <div class="p-reviews__itemContent">
                <p class="p-reviews__itemText">
                  再婚のため式はしませんでしたが、ふたりの記念<br>
                  になる形を探していました。<br>
                  写真とエピソードを1ページにまとめられて、<br>
                  私たちらしい特別なページをつくれました。<br>
                  SNSは使っていないので、URLで伝えられるWeb<br>
                  という形がちょうどよかったです。<br>
                  報告後も結婚の思い出として何度も見返すことが<br>
                  でき、ついつい暇なときにサイトを見てニヤニヤ<br>
                  しています。
                </p>
              </div>
              <hr class="p-reviews__itemSeparator">
              <div class="p-reviews__itemPlan">
                <p class="p-reviews__itemPlanText">
                  プラン：ライトプラン<br>
                  オプション：お祝いメッセージ送信機能
                </p>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>