<section class="p-worries">
  <div class="p-worries__container">
    <h2 class="p-worries__heading js-fadeIn">
      <img src="/assets/images/logo-with-kana.png" alt="ノトリ" width="153" height="52" class="p-worries__headingLogo">で<br>
      こんな<span class="p-worries__headingAccent">お悩み</span>解決します！
    </h2>

    <div class="p-worries__content js-fadeIn">
      
      <div class="p-worries__problemArea">
        <figure class="p-worries__figure" style="width: 100px; height: 84.4px;">
          <img src="/assets/images/figure-worries-01.png" alt="" class="p-worries__figureImage">
        </figure>

        <p class="p-worries__problemText">
          <span class="p-worries__problemText--accent">SNSで結婚報告は味気ない...</span><br>
          大切な人たちにはちゃんと報告したい
        </p>
      </div>
      
      <div class="p-worries__solutionArea">
        <p class="p-worries__solutionText p-worries__solutionText--highlight">
          手間なく丁寧に伝えられる
        </p>
        <p class="p-worries__solutionText">
          挨拶やプロフィール、写真や動画を<br>
          デザイナーが1ページに整理<br>
          <span class="p-worries__solutionText--accent">全て丸投げ</span>できるから楽ちん♪
        </p>

        <div class="p-worries__pointArea">
          <span class="p-worries__pointLabel">POINT 1</span>
          <p class="p-worries__pointText">
            送る相手に合わせて<br>
            <span class="p-worries__pointText--accent">内容を変えられる</span>
          </p>
          <figure class="p-worries__pointFigure" style="width: 204px; height: 126px;">
            <img src="/assets/images/figure-worries-point-01.png" alt="">
          </figure>
        </div>
      </div>
    </div>

    <div class="p-worries__content js-fadeIn">
      
      <div class="p-worries__problemArea">
        <figure class="p-worries__figure" style="width: 85px; height: 71px;">
          <img src="/assets/images/figure-worries-02.png" alt="" class="p-worries__figureImage">
        </figure>

        <p class="p-worries__problemText">
          せっかくのウェディングフォト<br>
          スマホの中だけじゃもったいない
        </p>
      </div>
      
      <div class="p-worries__solutionArea">
        <p class="p-worries__solutionText p-worries__solutionText--highlight">
          写真を"主役"に
        </p>
        <p class="p-worries__solutionText">
          撮影した写真をサイトに掲載♪<br>
          写真のレタッチや動画制作もできる！
        </p>

        <div class="p-worries__pointArea">
          <span class="p-worries__pointLabel">POINT 2</span>
          <p class="p-worries__pointText">
            <span class="p-worries__pointText--accent">パスワード付き</span>だから安心<br>
            見せたい相手だけに
          </p>
          <figure class="p-worries__pointFigure" style="width: 256px; height: 137px;">
            <img src="/assets/images/figure-worries-point-02.png" alt="">
          </figure>
        </div>
      </div>
    </div>

    <div class="p-worries__content js-fadeIn">
      
      <div class="p-worries__problemArea">
        <figure class="p-worries__figure" style="width: 85px; height: 71px;">
          <img src="/assets/images/figure-worries-03.png" alt="" class="p-worries__figureImage">
        </figure>
        <p class="p-worries__problemText">
          式は挙げないけど<br>
          特別な"カタチ"で思い出を残したい
        </p>
      </div>
      
      <div class="p-worries__solutionArea">
        <p class="p-worries__solutionText p-worries__solutionText--highlight">
          ふたりだけのオリジナルサイト
        </p>
        <p class="p-worries__solutionText">
          報告したあとも見返せるので、<br>
          思い出がずっと形に残せる！
        </p>

        <div class="p-worries__pointArea">
          <span class="p-worries__pointLabel">POINT<span class="p-worries__pointLabel--number">3</span></span>
          <p class="p-worries__pointText">
            <span class="p-worries__pointText--accent">最短3日</span>で公開できる<br>
            お急ぎの方はご相談ください
          </p>
          <figure class="p-worries__pointFigure" style="width: 256px; height: 137px;">
            <img src="/assets/images/figure-worries-point-03.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>