@use './variables' as *;
@use './mixin' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-ja;
  color: $base;
  background-color: $bg-base;
  width: 100svw;
  overflow-x: hidden;
  /* Webkit系ブラウザ（Chrome, Safariなど） */
  -webkit-font-smoothing: antialiased;
  /* Firefox */
  -moz-osx-font-smoothing: grayscale;
}

figure {
  margin: 0;
}

picture {
  display: block;
  width: 100%;
  height: auto;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

ul,ol {
  list-style: none;
}