// Google Fontsのインポート
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789%26%C2%A9&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789%26%C2%A9.&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap');

// フォントファミリーの定義
$font-family-ja: "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Noto Sans JP", sans-serif;
$font-family-en: "Gothic A1", sans-serif;
$font-family-heading: "Yu Gothic", "YuGothic", "Yu Gothic Medium", "Noto Sans JP", sans-serif;
$font-family-amiri: "Amiri", serif;
$font-family-noto-serif: "Noto Serif", serif;

// フォントサイズ
$fz-base: 16;

// 色
$fc-base: #505758;
$fc-sub: #808889;
$fc-white: #fff;
$bg-base: #fff;
$primary: #af9b4f;
$white: #fff;
$LINE: #71D077;

// viewport height
$viewport-width-sp: 390;
$viewport-height-sp: 843;
$viewport-width: 1440;
$viewport-height: 940;

// コンテンツサイズ
$wd-content-max-pc: calc(890 / $fz-base * 1rem);
$wd-content-padding-sp: 21;
