@use '../../global/variables' as *;
@use '../../global/mixin' as *;

.p-gratitude {
  background: $primary;
  margin-top: calc(99 / $fz-base * 1rem);
  padding: calc(53 / $fz-base * 1rem) calc(30 / $fz-base * 1rem) calc(101 / $fz-base * 1rem);
  
  @include mq(tab) {
    margin-top: calc(153 / $fz-base * 1rem);
    padding: calc(104 / $fz-base * 1rem) 0 calc(149 / $fz-base * 1rem);
  }

  & .c-heading2 {
    & .c-heading2__mainText,
    & .c-heading2__subText {
      color: $fc-another;
    }
  }
}

.p-gratitude__content {
  @include container;

  & {
    background-color: $white;
    border-radius: calc(5 / $fz-base * 1rem);
    margin-top: calc(31 / $fz-base * 1rem);
    text-align: center;
    padding: calc(51 / $fz-base * 1rem) calc(8 / $fz-base * 1rem) calc(30 / $fz-base * 1rem);
  }
  
  @include mq(tab) {
    & {
      margin-top: calc(50 / $fz-base * 1rem);
      padding: calc(51 / $fz-base * 1rem) calc(16 / $fz-base * 1rem) calc(50 / $fz-base * 1rem);
    }
  }
}

.p-gratitude__message {
  font-family: $font-family-ja;
  font-weight: 400;
  font-size: calc(14 / $fz-base * 1rem);
  line-height: calc(25 / 14);
  letter-spacing: calc(25 / 1000 * 1rem);
  color: $fc-another;

  @include mq(tab) {
    font-weight: 300;
    font-size: calc(18 / $fz-base * 1rem);
    line-height: calc(40 / 18);
  }
}

.p-gratitude__thankYou {
  font-family: $font-family-en;
  font-weight: 700;
  font-size: calc(29 / $fz-base * 1rem);
  line-height: calc(35 / 29);
  letter-spacing: calc(200 / 1000 * 1rem);
  color: #93E3DC;
  margin-top: calc(57 / $fz-base * 1rem);
  
  @include mq(tab) {
    font-size: calc(29 / $fz-base * 1rem);
    line-height: calc(35 / 29);
    margin-top: calc(58 / $fz-base * 1rem);
  }

  & .p-gratitude__thankYouChar {
    display: inline-block;
    transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
                transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-delay: calc(0.5s + var(--delay)); // 各文字の遅延時間
  }
}

.js {  
  & .p-gratitude.js-anime {
    opacity: 0;
    transform: translateY(5rem);

    & .p-gratitude__content {
      opacity: 0;
      
    }
  }
  & .p-gratitude__thankYou {
    overflow: hidden; // アニメーション用にオーバーフローを隠す

    & .p-gratitude__thankYouChar {
      opacity: 0;
      transform: translateY(1.5em); // 下から1.5文字分の位置に配置
    }
  }
}

.p-gratitude.u-anime {
  animation: fadeUp 0.75s ease-in-out 0s forwards;

  & .c-heading2 {
    animation: simpleFadeIn 0.75s ease-in-out 0.75s forwards;
  }
  
  & .p-gratitude__content {
    animation: simpleFadeIn 0.75s ease-in-out 1.5s forwards;
  }

}

.p-gratitude__thankYou {
  &.is-visible {
    & .p-gratitude__thankYouChar {
      opacity: 1;
      transform: translateY(0); // 元の位置にフェードイン
    }
  }
}