<section class="p-about js-fadeIn">
  <div class="p-about__container">
    <h2 class="p-about__title">
      <img src="/assets/images/logo-with-kana.png" alt="Knotory -ノトリ-" width="153" height="52">とは<img src="/assets/images/text-question.svg" alt="?">
    </h2>
    <div class="p-about__inner">
      <p class="p-about__description">
        <span style="display: inline-block; padding: 1px 6px; color: #fff; background-color: #F8937A; border-radius: 5px; margin-right: 2px;">写真</span>と<span  style="display: inline-block; padding: 1px 7px; color: #fff; background-color: #F8937A; border-radius: 5px; margin-left: 3px; margin-bottom: 2px;">プロフィール</span><br>
        を送るだけで<br>
        <span   style="display: inline-block; padding: 1px 7px; color: #FE6386; background-color: #fff; border-radius: 5px; font-weight: 700; margin: 2px 0;">結婚報告のWebサイト</span>
        がつくれるサービスです
      </p>
      <figure>
        <img src="/assets/images/figure-about.png" alt="">
      </figure>
    </div>
    <div class="p-about__details">
      <p>
        <img src="/assets/images/figure-about-01.png" alt="結婚報告が" class="p-about__detailsImage1">
      </p>
      <p class="p-about__detailsBox">
        SNSで報告はしたくない...<br>
        はがきや手紙は手間...<br>
        遠方や多忙で直接会えない...
      </p>
      <p style="margin-top: 22px;">
        そんな時に<span style="display: inline-block;translate: 0px -2px; margin-left: 4.5px; margin-right: 2.5px;">“</span><span class="p-about__details__emphasis" data-text="ちょうどいい">ちょうどいい</span><span style="display: inline-block;translate: 0px -2px; margin-left: 2.5px;">”</span><br>
        しっかり伝わる報告が簡単にできます
      </p>
      <figure class="p-about__detailsImage2">
        <img src="/assets/images/figure-about-02.png" alt="" width="278" height="162">
      </figure>
      <p style="margin-top: 20px;">
        報告するときは、URLを送るだけ！
      </p>
    </div>
  </div>
</section>