<section class="c-cta js-fadeIn">
  <div class="c-cta__container">
    <div class="c-cta__inner">
      {{> ui/buttonCTA }}
    </div>
    <div class="c-cta__okList">
      <ul class="c-cta__okListItems">
        <li class="c-cta__okListItem">
          <p class="c-cta__okListText">
            写真が<br>
            少なくても
            <span class="c-cta__okListAccent">OK</span>
          </p>
        </li>
        <li class="c-cta__okListItem">
          <p class="c-cta__okListText">
            完全<br>
            丸投げで
            <span class="c-cta__okListAccent">OK</span>
          </p>
        </li>
        <li class="c-cta__okListItem">
          <p class="c-cta__okListText">
            お急ぎ<br>
            でも
            <span class="c-cta__okListAccent">OK</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>