<section class="p-faq">
  <div class="p-faq__container">
    <hgroup>
      <p class="p-faq__subTitle">Q&A</p>
      <h2 class="p-faq__title js-fadeIn">よくある質問</h2>
    </hgroup>

    <div class="p-faq__content">
      <ul class="p-faq__list">
        <li class="p-faq__item js-fadeIn">
          <details class="p-faq__details">
            <summary class="p-faq__summary">
              <span class="p-faq__qMark">Q</span>
              <span class="p-faq__question">誰が見られますか？SNSや検索に出ませんか？</span>
            </summary>
            <p class="p-faq__answer">
              パスワード付なので、URLとパスワードを知っている方だけが閲覧できます。検索結果に表示されないよう設定しているので安心してご利用できます。
            </p>
          </details>
        </li>
        <li class="p-faq__item js-fadeIn">
          <details class="p-faq__details">
            <summary class="p-faq__summary">
              <span class="p-faq__qMark">Q</span>
              <span class="p-faq__question">写真や動画があまりありません。少なくても大丈夫？</span>
            </summary>
            <p class="p-faq__answer">
              ご安心ください。最低限の写真と簡単なプロフィールがあれば素敵なページをお作りできます。スマホ撮影の写真でも問題ありませんし、ご希望があれば素材の選び方もサポートします。
            </p>
          </details>
        </li>
        <li class="p-faq__item js-fadeIn">
          <details class="p-faq__details">
            <summary class="p-faq__summary">
              <span class="p-faq__qMark">Q</span>
              <span class="p-faq__question">納品までどれくらい？</span>
            </summary>
            <p class="p-faq__answer">
              通常、素材をいただいてから3営業日程で完成いたします。お急ぎの場合はご相談ください。
            </p>
          </details>
        </li>
        <li class="p-faq__item js-fadeIn">
          <details class="p-faq__details">
            <summary class="p-faq__summary">
              <span class="p-faq__qMark">Q</span>
              <span class="p-faq__question">写真・動画の"上限"はありますか？</span>
            </summary>
            <p class="p-faq__answer">
              基本的にはテンプレートと同じ数になります。掲載したい写真の数がテンプレートを超える場合はご相談ください。
            </p>
          </details>
        </li>
        <li class="p-faq__item js-fadeIn">
          <details class="p-faq__details">
            <summary class="p-faq__summary">
              <span class="p-faq__qMark">Q</span>
              <span class="p-faq__question">サポートの対応時間は？</span>
            </summary>
            <p class="p-faq__answer">
              平日土日祝 10:00–18:00にLINEでご対応します。時間外は翌営業日に返信します。
            </p>
          </details>
        </li>
        <li class="p-faq__item js-fadeIn">
          <details class="p-faq__details">
            <summary class="p-faq__summary">
              <span class="p-faq__qMark">Q</span>
              <span class="p-faq__question">このサービスはいつ使うのが良いですか？</span>
            </summary>
            <p class="p-faq__answer">
              ご結婚の報告をするときにぜひご活用ください！フォトウエディングやエンゲージメントフォトのお写真を使っていただいたりご入籍のタイミングに合わせてご利用いただいたりするのもお勧めです。お祝い事のご報告ですので、ご入籍前～ご入籍後１年以内にお使いいただく方が多いです。
            </p>
          </details>
        </li>
      </ul>
    </div>
  </div>

  {{> section/cta }}
</section>