<section class="p-features">
  <div class="p-features__container">
    <h2 class="p-features__heading js-fadeIn">
      <span class="p-features__headingEn">YOU CAN DO THIS</span>
      <span class="p-features__headingMain">Knotoryはこんなことができます</span>
    </h2>

    <section class="p-features__contentsSection">
      <h3 class="p-features__contentsHeading js-fadeIn">
        <span class="p-features__contentsHeadingLabel">基本的な掲載内容</span>
      </h3>

      <div class="p-features__slider js-fadeIn">
        <ul class="p-features__sliderList">
          <li class="p-features__sliderItem">
            <figure class="p-features__sliderFigure">
              <img class="p-features__sliderImage" src="/assets/images/contents-01.png" alt="ファーストビュー" width="300" height="auto">
            </figure>
            <div class="p-features__sliderContent">
              <p class="p-features__sliderNumber">①ファーストビュー</p>
              <p class="p-features__sliderText">おふたりのお気に入りの1枚を</p>
            </div>
          </li>
          <li class="p-features__sliderItem">
            <figure class="p-features__sliderFigure">
              <img class="p-features__sliderImage" src="/assets/images/contents-02.png" alt="ごあいさつ文" width="300" height="auto">
            </figure>
            <div class="p-features__sliderContent">
              <p class="p-features__sliderNumber">② ごあいさつ文</p>
              <p class="p-features__sliderText">感謝と報告を支えてくれた方々へ</p>
            </div>
          </li>
          <li class="p-features__sliderItem">
            <figure class="p-features__sliderFigure">
              <img class="p-features__sliderImage" src="/assets/images/contents-03.png" alt="プロフィール" width="300" height="auto">
            </figure>
            <div class="p-features__sliderContent">
              <p class="p-features__sliderNumber">③ プロフィール</p>
              <p class="p-features__sliderText">ふたりのことを簡単にご紹介。</p>
            </div>
          </li>
          <li class="p-features__sliderItem">
            <figure class="p-features__sliderFigure">
              <img class="p-features__sliderImage" src="/assets/images/contents-04.png" alt="これまでの想い出" width="300" height="auto">
            </figure>
            <div class="p-features__sliderContent">
              <p class="p-features__sliderNumber">④ これまでの想い出</p>
              <p class="p-features__sliderText">出会いから結婚までのエピソードを</p>
            </div>
          </li>
          <li class="p-features__sliderItem">
            <figure class="p-features__sliderFigure">
              <img class="p-features__sliderImage" src="/assets/images/contents-05.png" alt="一問一答" width="300" height="auto">
            </figure>
            <div class="p-features__sliderContent">
              <p class="p-features__sliderNumber">⑤ 一問一答</p>
              <p class="p-features__sliderText">ふたりのことをもっと身近に</p>
            </div>
          </li>
          <li class="p-features__sliderItem">
            <figure class="p-features__sliderFigure">
              <img class="p-features__sliderImage" src="/assets/images/contents-06.png" alt="写真・動画" width="300" height="auto">
            </figure>
            <div class="p-features__sliderContent">
              <p class="p-features__sliderNumber">⑥ 写真・動画</p>
              <p class="p-features__sliderText">思い出を一度にまとめてシェア</p>
            </div>
          </li>
          <li class="p-features__sliderItem">
            <figure class="p-features__sliderFigure">
              <img class="p-features__sliderImage" src="/assets/images/contents-07.png" alt="最後にひとこと" width="300" height="auto">
            </figure>
            <div class="p-features__sliderContent">
              <p class="p-features__sliderNumber">⑦ 最後にひとこと</p>
              <p class="p-features__sliderText">これからの抱負や近況報告など</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="p-features__designSection">
      <h3 class="p-features__designHeading js-fadeIn">選べるデザイン</h3>

      <div class="p-features__designSliderWrapper">
        <div class="splide splideDesign p-features__designSlider js-fadeIn">
          <div class="splide__track p-features__designTrack">
            <ul class="splide__list p-features__designList">
              <li class="splide__slide p-features__designItem">
                <figure class="p-features__designFigure">
                  <img class="p-features__designImage" src="/assets/images/figure-example-01.png" alt="">
                </figure>
              </li>
              <li class="splide__slide p-features__designItem">
                <figure class="p-features__designFigure">
                  <img class="p-features__designImage" src="/assets/images/figure-example-02.png" alt="">
                </figure>
              </li>
              <li class="splide__slide p-features__designItem">
                <figure class="p-features__designFigure">
                  <img class="p-features__designImage" src="/assets/images/figure-example-03.png" alt="">
                </figure>
              </li>
              <li class="splide__slide p-features__designItem">
                <figure class="p-features__designFigure">
                  <img class="p-features__designImage" src="/assets/images/figure-example-04.png" alt="">
                </figure>
              </li>
              <li class="splide__slide p-features__designItem">
                <figure class="p-features__designFigure">
                  <img class="p-features__designImage" src="/assets/images/figure-example-05.png" alt="">
                </figure>
              </li>
              <li class="splide__slide p-features__designItem">
                <figure class="p-features__designFigure">
                  <img class="p-features__designImage" src="/assets/images/figure-example-06.png" alt="">
                </figure>
              </li>
              <li class="splide__slide p-features__designItem">
                <figure class="p-features__designFigure">
                  <img class="p-features__designImage" src="/assets/images/figure-example-07.png" alt="">
                </figure>
              </li>
            </ul>
          </div>
        </div>
        <div class="p-features__designCircleText" aria-hidden="true">
          <img src="/assets/images/circle-text-knotory.png" alt="" class="p-features__designCircleTextImage">
        </div>
      </div>

      <p class="p-features__designDescription js-fadeIn">
        テイストの異なるデザインを複数ご用意。<br>
        お好みのデザインをお選びいただけます。
      </p>

      <div class="p-features__designLinkWrap js-fadeIn">
        <a class="p-features__designLink" href="https://knotory.jp/list/" aria-label="デザインを詳しく見る">
          <span class="p-features__designLinkText">デザインを詳しく見る</span>
          <span class="p-features__designLinkIcon">
            <img src="/assets/images/icon-arrow-dropright-circle.svg" alt="">
          </span>
        </a>
      </div>
    </section>

    <section class="p-features__optionSection">
      <h3 class="p-features__optionHeading js-fadeIn" id="options">便利なオプション機能</h3>

      <ul class="p-features__optionList">
        <li class="p-features__optionItem js-fadeIn">
          <details class="p-features__optionDetails" open>
            <summary class="p-features__optionSummary">
              <span class="p-features__optionFunction">function01</span>
              <span class="p-features__optionIcon">
                <img src="/assets/images/icon-function-01.png" alt="">
              </span>
              <span class="p-features__optionTitle">パスワード機能</span>
              <span class="p-features__optionArrow"></span>
            </summary>
            <div class="p-features__optionContent">
              <div class="p-features__optionSeparator"></div>
              <p class="p-features__optionText">
                制作したページは、パスワードを入力した方だけが閲覧できる仕組みになっています。見せたい人にだけ、安心して届けられるように設計しています。
              </p>
              <figure class="p-features__optionFigure">
                <img class="p-features__optionImage" src="/assets/images/figure-option-01.png" alt="パスワード機能の説明図" width="300" height="auto">
              </figure>
            </div>
          </details>
        </li>

        <li class="p-features__optionItem js-fadeIn">
          <details class="p-features__optionDetails">
            <summary class="p-features__optionSummary">
              <span class="p-features__optionFunction">function02</span>
              <span class="p-features__optionIcon">
                <img src="/assets/images/icon-function-02.png" alt="">
              </span>
              <span class="p-features__optionTitle">内容の切り替え</span>
              <span class="p-features__optionArrow"></span>
            </summary>
            <div class="p-features__optionContent">
              <div class="p-features__optionSeparator"></div>
              <p class="p-features__optionText">
                ページを分けることで会社用や友人用などの使い分けが可能。送る相手によって写真やテキストの内容を変更できます。<br>
                例えば、会社用ではプライベートはあまり知られたくないのでヒストリーとふたりへの質問は無くすなどの変更ができます。<br>
                ご要望に応じて内容を変更いたしますので、ご利用の際にお申し付けください。
              </p>
              <figure class="p-features__optionFigure">
                <img class="p-features__optionImage" src="/assets/images/figure-option-02.png" alt="内容の切り替え機能の説明図" width="300" height="auto">
              </figure>
            </div>
          </details>
        </li>

        <li class="p-features__optionItem js-fadeIn">
          <details class="p-features__optionDetails">
            <summary class="p-features__optionSummary">
              <span class="p-features__optionFunction">function03</span>
              <span class="p-features__optionIcon">
                <img src="/assets/images/icon-function-03.png" alt="">
              </span>
              <span class="p-features__optionTitle">お祝いメッセージ送信機能</span>
              <span class="p-features__optionArrow"></span>
            </summary>
            <div class="p-features__optionContent">
              <div class="p-features__optionSeparator"></div>
              <p class="p-features__optionText">
                ご友人やご家族からのお祝いコメントを受け取れます。送られたメッセージはご本人だけが確認できる安心設計です。
              </p>
              <figure class="p-features__optionFigure">
                <img class="p-features__optionImage" src="/assets/images/figure-option-03.png" alt="お祝いメッセージ送信機能の説明図" width="300" height="auto">
              </figure>
            </div>
          </details>
        </li>

        <li class="p-features__optionItem js-fadeIn">
          <details class="p-features__optionDetails">
            <summary class="p-features__optionSummary">
              <span class="p-features__optionFunction">function04</span>
              <span class="p-features__optionIcon">
                <img src="/assets/images/icon-function-04.png" alt="">
              </span>
              <span class="p-features__optionTitle">動画制作</span>
              <span class="p-features__optionArrow"></span>
            </summary>
            <div class="p-features__optionContent">
              <div class="p-features__optionSeparator"></div>
              <p class="p-features__optionText">
                写真だけじゃ伝えきれない想いを、動画で。お気に入りの写真を組み合わせて、約60秒のスライドムービーを制作します。
              </p>
              <p class="p-features__optionNote">
                ※著作権のある音楽・画像・動画などはご使用いただけません。フリー素材、またはご自身で撮影・制作されたものをご用意ください。
              </p>
              <p class="p-features__optionVideoLabel">【制作例】</p>
              <div class="p-features__optionVideoWrapper">
                <video muted playsinline preload="metadata" poster="/assets/images/figure-option-04.png">
                  <source src="/assets/videos/memories.mp4" type="video/mp4">
                  お使いのブラウザは動画タグに対応していません。
                </video>
                <button class="p-features__optionPlayButton" aria-label="動画を再生">
                  <svg width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <circle cx="30" cy="30" r="30" fill="rgba(255, 255, 255, 0.9)"/>
                    <path d="M25 20L40 30L25 40V20Z" fill="#ABC1C6"/>
                  </svg>
                </button>
              </div>
            </div>
          </details>
        </li>

        <li class="p-features__optionItem js-fadeIn">
          <details class="p-features__optionDetails">
            <summary class="p-features__optionSummary">
              <span class="p-features__optionFunction">function05</span>
              <span class="p-features__optionIcon">
                <img src="/assets/images/icon-function-05.png" alt="">
              </span>
              <span class="p-features__optionTitle">パンフレットもつくれる</span>
              <span class="p-features__optionArrow"></span>
            </summary>
            <div class="p-features__optionContent">
              <div class="p-features__optionSeparator"></div>
              <p class="p-features__optionText">
                文字は大きめで、普段Webサイトを見ないご高齢の方にもおすすめです。完成したパンフレットは丁寧に印刷・製本し、 ご自宅まで送料無料でお届けします。<br>
                パンフレットは 3種類のデザインからお選びいただけます。
              </p>
              <div class="p-features__optionLinkWrap">
                <a class="p-features__optionLink" href="https://knotory.jp/list/#brochure">
                  <span class="p-features__optionLinkText">デザインを詳しく見る</span>
                  <span class="p-features__optionLinkIcon">
                    <img src="/assets/images/icon-arrow-dropright-circleIcon-bk.svg" alt="">
                  </span>
                </a>
              </div>
              <figure class="p-features__optionFigure">
                <img class="p-features__optionImage" src="/assets/images/figure-option-05.png" alt="パンフレット制作の説明図" width="300" height="auto">
              </figure>
            </div>
          </details>
        </li>
      </ul>
    </section>
  </div>

  {{> section/cta }}
</section>
