<section class="p-flow">
  <div class="p-flow__container">
    <h2 class="p-flow__heading js-fadeIn">
      <span class="p-flow__headingEn">FLOW</span>
      <span class="p-flow__title">ご利用の流れ</span>
    </h2>
    <div class="p-flow__stepList">

      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">01</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-01.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">無料相談・お申込み</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              相談だけでもOK！公式LINEまたは下部メール<br>
              フォームよりお申し込みください。<br>
              (申し込み完了後、自動返信メールが届きます)
            </p>
          </div>
        </div>
      </section>

      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">02</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-02.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">ヒアリング・お見積もり</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              ヒアリング内容をもとに、プラン・オプションを<br>
              確認。正式な金額と納期をご案内します。
            </p>
          </div>
        </div>
      </section>

      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">03</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-03.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">ご契約・お支払い</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              内容にご納得いただけましたら、オンラインで<br>
              お支払いをお願いします。ご入金の確認後、制作<br>
              をスタートいたします。
            </p>
          </div>
        </div>
      </section>

      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">04</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-04.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">素材のご提出</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              写真・プロフィールなど、テンプレートに沿って<br>
              ご提出ください。<br>
              内容がまとまっていなくてもOK。こちらで調整い<br>
              たします。お送りいただいた素材をもとに、デザ<br>
              イナーが丁寧に制作します。
            </p>
          </div>
        </div>
      </section>

      <section class="p-flow__stepItem js-fadeIn">
        <div class="p-flow__stepItemInner">
          <p class="p-flow__stepNumber">step<span class="p-flow__stepNumberValue">05</span></p>
          <figure class="p-flow__stepFigure">
            <img class="p-flow__stepImage" src="/assets/images/figure-flow-05.png" alt="">
          </figure>
          <h3 class="p-flow__stepTitle">サイト公開・ご納品</h3>
          <div class="p-flow__stepDescription">
            <p class="p-flow__stepText">
              最終確認後、パスワードの発行と専用URLを<br>
              ご納品。大切な方に送るだけで、すぐにご報告<br>
              いただけます。<br>
              （ご納品から1年間は無料で掲載できます）
            </p>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>