<div class="p-fv">
  <div class="p-fv__container js-fadeIn">
    <h1 class="p-fv__heading">
      <span class="p-fv__headingLabel">結婚報告のWebサイト制作サービス</span>
      <span class="p-fv__headingTitle">結婚報告はWebサイトで</span>
      <span class="p-fv__headingSubtitle">marriage report</span>
    </h1>

    <div class="p-fv__imageWrapper">
      <figure class="p-fv__figure">
        <img class="p-fv__image" src="/assets/images/figure-fv.png" alt="結婚報告サイトのイメージ" width="265" height="550" loading="eager">
      </figure>

      <div class="p-fv__textArea">
        <img class="p-fv__logo" src="/assets/images/logo-with-kana.png" alt="Knotory -ノトリ-" width="200" height="auto">
        <p class="p-fv__description">
          写真も気持ちも、きちんと伝わる<br>
          手軽で結婚報告のちょうどいい新定番
        </p>
      </div>
    </div>

    <ul class="p-fv__features">
      <li class="p-fv__feature">
        <div class="p-fv__featureCircle">
          <p class="p-fv__featureText">
            招待制<br>
            だから安心
          </p>
        </div>
      </li>
      <li class="p-fv__feature">
        <div class="p-fv__featureCircle">
          <p class="p-fv__featureText">
            制作は<br>
            丸投げで<br>
            楽ちん
          </p>
        </div>
      </li>
      <li class="p-fv__feature">
        <div class="p-fv__featureCircle">
          <p class="p-fv__featureText">
            ウエディング<br>
            プランナー<br>
            監修
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="p-fv__ctaArea">
    {{> ui/buttonCTA }}
  </div>
</div>