<section class="p-points">
  <div class="p-points__container">
    <h2 class="p-points__heading js-fadeIn">
      <span class="p-points__headingMain">Knotoryが</span>
      <span class="p-points__headingSub">選ばれる3つのポイント</span>
    </h2>

    <ul class="p-points__list">
      <li class="p-points__item js-fadeIn">
        <div class="p-points__badge">
          <span class="p-points__badgeLabel">point</span>
          <span class="p-points__badgeNumber">01</span>
        </div>
        
        <h3 class="p-points__itemHeading">招待制だから安心</h3>
        
        <figure class="p-points__figure">
          <img class="p-points__image" src="/assets/images/figure-point-01.png" alt="招待制だから安心" width="300" height="auto">
        </figure>
        
        <p class="p-points__text">
          パスワード機能と検索してもページが出てこないように設定しているので見せたい相手だけに安心して送れます。
        </p>
      </li>

      <li class="p-points__item js-fadeIn">
        <div class="p-points__badge">
          <span class="p-points__badgeLabel">point</span>
          <span class="p-points__badgeNumber">02</span>
        </div>
        
        <h3 class="p-points__itemHeading">プロが丸ごと制作</h3>
        
        <figure class="p-points__figure">
          <img class="p-points__image" src="/assets/images/figure-point-02.png" alt="プロが丸ごと制作" width="241" height="auto" style="width: 241px;margin: 0 auto;">
        </figure>
        
        <p class="p-points__text">
          写真やプロフィールを送ったらあとはデザイナーがまるっと制作。サイトが出来上がったら、URLを送るだけでスマホでいつでもどこでも見ることができます。
        </p>
      </li>

      <li class="p-points__item js-fadeIn">
        <div class="p-points__badge">
          <span class="p-points__badgeLabel">point</span>
          <span class="p-points__badgeNumber">03</span>
        </div>
        
        <h3 class="p-points__itemHeading">Webだけどきちんとした印象</h3>
        
        <figure class="p-points__figure">
          <img class="p-points__image" src="/assets/images/figure-point-03.png" alt="Webだけどきちんとした印象" width="330" height="auto">
        </figure>
        
        <p class="p-points__text">
          ウエディングプランナーが監修しているサービスなので、構成や内容が整えられており、きちんとした印象の報告ができます。
        </p>
      </li>
    </ul>
  </div>
</section>
