<section class="p-reviews-receiver">
  <div class="p-reviews-receiver__container">
    <h2 class="p-scenes__heading js-fadeIn u-fadeIn">
      <span class="p-reviews-receiver__headingEn">USER VOICE</span>
      <span class="p-reviews-receiver__headingMain">届けられた方の声</span>
    </h2>

    <div class="splide splideReviewsReceiver p-reviews-receiver__slider js-fadeIn">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <article class="p-reviews-receiver__item">
              <div class="p-reviews-receiver__itemHeader">
                <figure class="p-reviews-receiver__itemFigure">
                  <img src="/assets/images/figure-review-picture-04.png" alt="" class="p-reviews-receiver__itemImage">
                </figure>
                <div class="p-reviews-receiver__itemInfo">
                  <p class="p-reviews-receiver__itemStars"><img src="/assets/images/figure-review-stars.png" alt=""></p>
                  <p class="p-reviews-receiver__itemName">Aさま（50代）</p>
                  <p class="p-reviews-receiver__itemType">ご親戚</p>
                </div>
              </div>
              <h3 class="p-reviews-receiver__itemTitle">
                ふたりの幸せな姿に、思わず涙が出ました
              </h3>
              <div class="p-reviews-receiver__itemContent">
                <p class="p-reviews-receiver__itemText">
                  遠方に住んでいて、仕事も忙しく、なかなか直接<br>
                  会うことができなかったのですが…<br>
                  Webサイトのおかげで、ふたりの幸せそうな写真<br>
                  や様子を見ることができました。<br>
                  会えなくても、気持ちはちゃんと伝わるんだなと<br>
                  実感。何度も見返しては、こちらまで笑顔になっ<br>
                  ています。
                </p>
              </div>
            </article>
          </li>
          <li class="splide__slide">
            <article class="p-reviews-receiver__item">
              <div class="p-reviews-receiver__itemHeader">
                <figure class="p-reviews-receiver__itemFigure">
                  <img src="/assets/images/figure-review-picture-05.png" alt="" class="p-reviews-receiver__itemImage">
                </figure>
                <div class="p-reviews-receiver__itemInfo">
                  <p class="p-reviews-receiver__itemStars"><img src="/assets/images/figure-review-stars.png" alt=""></p>
                  <p class="p-reviews-receiver__itemName">Kさま（60代）</p>
                  <p class="p-reviews-receiver__itemType">ご両親</p>
                </div>
              </div>
              <h3 class="p-reviews-receiver__itemTitle">
                ふたりの結婚を、<br>
                しっかり実感できました
              </h3>
              <div class="p-reviews-receiver__itemContent">
                <p class="p-reviews-receiver__itemText">
                  フォトウェディングという形だったので、当日は<br>
                  少し立ち会って、軽く食事をしただけでした。<br>
                  でも、このWebサイトを見て、「本当に結婚した<br>
                  んだな」と改めて実感がこみ上げました。<br>
                  写真もどれも美しく、ふたりの幸せそうな表情が<br>
                  しっかり伝わってきて嬉しかったです。<br>
                  親戚や同僚にもサイトを見せて、つい自慢してし<br>
                  まいました。
                </p>
              </div>
            </article>
          </li>
          <li class="splide__slide">
            <article class="p-reviews-receiver__item">
              <div class="p-reviews-receiver__itemHeader">
                <figure class="p-reviews-receiver__itemFigure">
                  <img src="/assets/images/figure-review-picture-06.png" alt="" class="p-reviews-receiver__itemImage">
                </figure>
                <div class="p-reviews-receiver__itemInfo">
                  <p class="p-reviews-receiver__itemStars"><img src="/assets/images/figure-review-stars.png" alt=""></p>
                  <p class="p-reviews-receiver__itemName">Hさま（20代）</p>
                  <p class="p-reviews-receiver__itemType">ご友人</p>
                </div>
              </div>
              <h3 class="p-reviews-receiver__itemTitle">
                読む前からワクワクして<br>
                読んでからもっとワクワクした！
              </h3>
              <div class="p-reviews-receiver__itemContent">
                <p class="p-reviews-receiver__itemText">
                  新郎のことは会ったことがなかったので、<br>
                  「どんな人なんだろう？」と思っていました。<br>
                  でも、プロフィールやストーリーを読んで、<br>
                  ふたりの人柄や関係性がよくわかって、<br>
                  式がもっと楽しみになりました！写真もどれも可<br>
                  愛くて、テンション上がりました✨<br>
                  思わず「おめでとう！」とすぐに連絡したくなる<br>
                  気持ちに！
                </p>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
