<section class="p-scenes">
  <div class="p-scenes__container">
    <h2 class="p-scenes__heading js-fadeIn">
      <span class="p-scenes__headingEn">VARIOUS SCENES</span>
      <span class="p-scenes__headingMain">こんなシーンで使えます</span>
    </h2>

    <ul class="p-scenes__grid js-fadeIn">
      <li class="p-scenes__card">
        <span class="p-scenes__cardNumber">01</span>
        <figure class="p-scenes__cardFigure">
          <img class="p-scenes__cardImage" src="/assets/images/figure-scenes-01.png" alt="入籍報告" width="300" height="auto">
        </figure>
        <div class="p-scenes__cardContent">
          <h3 class="p-scenes__cardTitle">入籍報告</h3>
          <p class="p-scenes__cardText">SNSより情報がしっかり伝えられます。式を挙げない方にも最適です。</p>
        </div>
      </li>

      <li class="p-scenes__card">
        <span class="p-scenes__cardNumber">02</span>
        <figure class="p-scenes__cardFigure">
          <img class="p-scenes__cardImage" src="/assets/images/figure-scenes-02.png" alt="フォト婚・前撮り" width="300" height="auto">
        </figure>
        <div class="p-scenes__cardContent">
          <h3 class="p-scenes__cardTitle">フォト婚・前撮り</h3>
          <p class="p-scenes__cardText">お気に入りの撮った写真を活用。写真とサイトで結婚の記念が形に残ります。</p>
        </div>
      </li>

      <li class="p-scenes__card">
        <span class="p-scenes__cardNumber">03</span>
        <figure class="p-scenes__cardFigure">
          <img class="p-scenes__cardImage" src="/assets/images/figure-scenes-03.png" alt="遠方・多忙で会えない方にも" width="300" height="auto">
        </figure>
        <div class="p-scenes__cardContent">
          <h3 class="p-scenes__cardTitle">遠方・多忙で<br>会えない方にも</h3>
          <p class="p-scenes__cardText">直接会えない方にもすぐに報告可能。人柄も気持ちもちゃんと伝わります。</p>
        </div>
      </li>

      <li class="p-scenes__card">
        <span class="p-scenes__cardNumber">04</span>
        <figure class="p-scenes__cardFigure">
          <img class="p-scenes__cardImage" src="/assets/images/figure-scenes-04.png" alt="結婚式の前に" width="300" height="auto">
        </figure>
        <div class="p-scenes__cardContent">
          <h3 class="p-scenes__cardTitle">結婚式の前に</h3>
          <p class="p-scenes__cardText">受付でQRを読み取り事前にふたりを紹介。より新郎新婦に感情移入しやすくなります。</p>
        </div>
      </li>

      <li class="p-scenes__card">
        <span class="p-scenes__cardNumber">05</span>
        <figure class="p-scenes__cardFigure">
          <img class="p-scenes__cardImage" src="/assets/images/figure-scenes-05.png" alt="会社報告" width="300" height="auto">
        </figure>
        <div class="p-scenes__cardContent">
          <h3 class="p-scenes__cardTitle">会社報告</h3>
          <p class="p-scenes__cardText">上司や同僚へ「結婚の報告」をお伝えするときにも最適。</p>
        </div>
      </li>

      <li class="p-scenes__card">
        <span class="p-scenes__cardNumber">06</span>
        <figure class="p-scenes__cardFigure">
          <img class="p-scenes__cardImage" src="/assets/images/figure-scenes-06.png" alt="結婚式の後に" width="300" height="auto">
        </figure>
        <div class="p-scenes__cardContent">
          <h3 class="p-scenes__cardTitle">結婚式の後に</h3>
          <p class="p-scenes__cardText">式に来られなかった方への報告。また、式の想い出を何度でも見返せます。</p>
        </div>
      </li>
    </ul>
  </div>
  {{> section/cta }}
</section>
