<section class="p-solution">
  <div class="p-solution__container">
    <div class="p-solution__arrow js-fadeIn">
      <svg xmlns="http://www.w3.org/2000/svg" width="33.144" height="78" viewBox="0 0 33.144 78">
        <g id="グループ_134" data-name="グループ 134" transform="translate(-181 -6028.5)">
          <line id="線_59" data-name="線 59" y2="78" transform="translate(194.5 6028.5)" fill="none" stroke="#fff" stroke-width="2"/>
          <line id="線_60" data-name="線 60" y1="16" x2="19" transform="translate(194.5 6089.5)" fill="none" stroke="#fff" stroke-width="2"/>
          <line id="線_61" data-name="線 61" x1="32.5" transform="translate(181 6089.5)" fill="none" stroke="#fff" stroke-width="2"/>
        </g>
      </svg>
      
    </div>
    
    <p class="p-solution__lead js-fadeIn">そんな時に</p>
    
    <p class="p-solution__description js-fadeIn">
      “<span class="p-solution__emphasize" data-text="ちょうどいい">ちょうどいい</span><span style="margin-right: 2px;">”</span>結婚報告の
    </p>
    
    <div class="p-solution__logo js-fadeIn">
      <img src="/assets/images/logo-with-kana.png" alt="Knotory ノトリー" width="153" height="52">
    </div>
    
    <p class="p-solution__cta js-fadeIn">をご利用ください！</p>
  </div>
</section>
